.about {
  color: var(--text-primary);
}

.about h2 {
  font-size: 2.2rem;
  font-weight: bold;
}

.intro-text {
  font-size: 1.1rem;
  line-height: 1.8;
  font-weight: 600;
}

.intro-text-second {
  font-weight: 600;
}

.intro-text-third {
  font-weight: 600;
}

.about-img {
  max-width: 250px;
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
}

.skills h3 {
  font-size: 1.9rem;
  font-weight: 700;
}

.skill-area p {
  font-weight: bolder;
}

.skill-icon {
  font-size: 3rem;
  margin-bottom: 10px;
  transition: transform 0.3s;
}

.skill-icon:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.skill-icon.html {
  color: #e34c26;
}
.skill-icon.css {
  color: #264de4;
}
.skill-icon.js {
  color: #f0db4f;
}
.skill-icon.react {
  color: #61dafb;
}
.skill-icon.git {
  color: #f1502f;
}
.skill-icon.bootstrap {
  color: #712cf9;
}

.education h3 {
  font-size: 1.9rem;
  font-weight: 700;
}

.experience h3 {
  font-size: 1.9rem;
  font-weight: 700;
}

.company-name {
  color: var(--bg-btn);
  font-weight: bold;
}

.job-title {
  font-weight: 600;
}

.date-range {
  color: #e17055;
  font-weight: 500;
}

.strong-text {
  color: var(--bg-btn);
  font-weight: bold;
}

.prefix-text {
  font-weight: 600;
}

.date-range {
  color: #e17055;
  font-weight: 500;
}

@media (max-width: 425px) {
  .about h2 {
    font-size: 1.5rem;
  }

  .intro-text,
  .intro-text-second,
  .intro-text-third {
    font-size: 0.9rem;
    line-height: 1.6;
  }

  .about-img {
    max-width: 180px;
    margin-top: 1rem;
  }

  .skills h3,
  .education h3,
  .experience h3 {
    font-size: 1.4rem;
  }

  .skill-icon {
    font-size: 2.5rem;
  }

  .skill-area .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .skill-area p {
    font-size: 0.8rem;
    font-weight: bolder;
  }

  .education ul,
  .experience ul {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
    font-size: 0.95rem;
  }

  .company-name,
  .job-title,
  .strong-text,
  .prefix-text,
  .date-range {
    display: block;
    font-size: 0.75rem;
  }

  .education li,
  .experience li {
    margin-bottom: 1rem;
  }

  .about .row.align-items-center {
    flex-direction: column;
    text-align: center;
  }

  .about .col-lg-8,
  .about .col-lg-4 {
    max-width: 100%;
  }
}
