.custom-footer {
  background-color: var(--bg-header);
  color: var(--text-primary);
  font-size: 14px;
}

.custom-footer p {
  color: var(--text-primary);
  font-size: 15px;
  font-weight: bolder;
  cursor: pointer;
  transition: color 0.2s;
  white-space: normal;
  word-wrap: break-word;
  text-align: center;
}

.custom-footer p:hover {
  color: var(--bg-btn);
}

@media (max-width: 425px) {
  .custom-footer p {
    font-size: 13px;
    padding: 0 10px;
  }
}
